{{ define "main" }}
  <h1 class="mb-3 text-4xl font-extrabold">{{ i18n "error.404_title" | emojify }}</h1>
  <p class="mt-8 mb-12 text-neutral-400 dark:text-neutral-500">
    {{ i18n "error.404_error" | emojify }}
  </p>
  <div class="prose dark:prose-invert">
    <p>{{ i18n "error.404_description" | emojify }}</p>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_WZCvQ5J3pk?si=IK3rDs1RBGjLOt34&amp;start=33" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
{{ end }}
